#s1{
  background:linear-gradient(#6d74c9 0% , #c46dc9 100%);
  text-align:center;
  position:absolute;
  
}

#yr{
  font-style: italic;
  font-weight:bold;
}

#yr2{
  font-style: italic;
  font-weight:bold;
}

img{
  border-style:solid;
  padding:40px;
  margin:40px;
  border-radius:80px;
  
}
#s2{
  background-color:cadetblue;
}
body{
    text-align: center;
}